@import url(menu.css);
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

h1 {
    color: white;
    text-align: center;
    
    
}



h3 {
    color: black;
    text-align: center;
    text-decoration: none; align-content: center;
    box-shadow:  10px 17px 32px #666;
    
}
p {
    
   font-family: 'Montserrat';
    font-size: 20px;
    box-shadow: 10px 17px 32px #666;
}

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 3%;
}

header {
    width: 100%;
    height: 55px;
    background: #333;
    color:#fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
