@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(menu.css);
@import url(banner.css);
@import url(blog.css);
@import url(info.css);
@import url(fontello.css);


*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow:auto;
     -webkit-font-smoothing: antialiased;
      font: normal 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #232525;
}

header {
    width: 100%;
    height: 55px;
    background: #2196F3;
    box-shadow: 10px 0px 10px #212121;
    color:#fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.Titulo {
    margin-top: 10px;
    width: auto;
    padding-top: 50px;
    background: #1976D2;
    text-align: center;
    font-family: Arial;
    font-size: 400%;

}

.Pagina {
    width: 180;
    height: 500;
}

.Cajita {
     background: #2196F3;
     width: 60%;
     box-shadow: 0px 0px 10px #212121;
     margin-top: 5%;
     float: center;
     text-align: center;
     
}

.Perrin {
        background: #2196F3;
        width: 600px;
        position: relative;
        padding: 10px 20px;
        box-sizing: border-box;
        border-radius: 7px;
        color: white;


}

.hola {
    height: 300px;
    width: 560px;
    position: relative;
    box-sizing: border-box;
    
}

.Info {
    margin-top: 30px;
    width: auto;
    margin-right: 10%;
    margin-left: 10%;
}
.Tec{
    color: #fff;
    text-decoration: none;
}
.Linea {
    color: #b6b6b6;
}
.contenedor {
    width: 98%;
    margin: auto;
    
        
}

h1 {
    float: left;
    margin-top: 10px;
    font-family: sans-serif; 
    
}



h2 {
color: black;
    
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
   
}

#bienvenidos{
    
    padding-right: 100px;
    padding-left: 100px;
   
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
    padding-left: 20px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
    
}

sociales a {
    color: #333;
    text-decoration: none;
}


@media (min-width: 768px){
    .sociales {
        width: auto;
    }
    
    footer .contenedor {
        justify-content: space-between;
    }
    .Titulo {
        margin-top: 10px;
    width: auto;
    padding-top: 50px;
    background: #1976D2;
    text-align: center;
    font-family: Arial;
    font-size: 500%;    }
}


@media (min-width:1024px){
    .contenedor {
    width: 1000px;    
    }
}



.hola {
    padding-left: 10px;
    padding-bottom: 2px
}

.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    animation: modal 2s;
    visibility: hidden;
    opacity: 0;
    
}

.contenido {
    margin: auto;
    width: 40%;
    height: 40%;
    background: white;
    border-radius: 10px;
}

#cerrar {
display: none;
}

#cerrar + label {
    position: absolute;
    color: #fff;
    font-size: 25px;
    z-index: 50;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    
    animation: modal 2s;
    visibility: hidden;
    opacity: 0;

}


@keyframes modal {
    100% {
     visibility: visible;
    opacity: 1;
    }
}


select  {
    padding: 5px 8px;
    width: 100%;
    font-size: 22px;
    border color: azure;
    background-color: #CCFFFF;
}
#existe{
    margin: auto;
    padding:10px 15px 8px 30px;
    background-color: rgba(166,166,166,0.8);
    border-radius: 8px;

}