
.formulario{
	width: 0px;
	padding: 0px;
	background-color: #FFF;
	margin: auto;
	text-align: left;
	height: 0px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	box-shadow: 2px 2px 6px #666;
	-moz-box-shadow: 2px 2px 6px #666;
	-webkit-box-shadow: 2px 2px 6px #666;
	-o-box-shadow: 2px 2px 6px #666;
}
