.slider1 {
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-right: 100px;
    margin-top: 54px;
    
}

.slider1 ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
    
    
}

.slider1 li {
    width: 60%;
    list-style: none;
    
}

.slider1 img {
 
    width: 100%;
    height: auto;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -200%;}
    100% {margin-left: -200%;}
}


@media (min-width: 480px){
    .slider1 h2 {
        font-size: 40px;
    }
    .slider1 a {
        margin-top: 20px;
    }
}

@media (min-width: 768px){
    .slider{
        height: 300px;
        overflow: hidden;
    }
    .slider1 img {
        height: auto;
        margin-top: -100px;
    }
}

@media (min-width: 1024px){
    .slider1 img{
        margin-top:  0px;
        height: 300px;
    }
    
}
